.cityItems{
    list-style-type: none;
    padding: 0;
}
.cityItems li{
    background-color: #5b4b4b69;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

.cityItems li:hover{
    background-color: #00000069;
    cursor: pointer;
}

.selectedCity{
    /* pointer-events: none !important; */
    background-color: #7ac47a !important;
}