.App {
  /* text-align: center; */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.white{
  color: white;
}
.cityModalHeight{
  height: 15em;
}
.cursor-pointer{
  cursor: pointer !important;
}
.activeItem{
  background-color: #51bb9882 !important;
  pointer-events: none;
}
.clearBg{
  background-image: url('./assets/backgrounds/clear.jpg');
}
/* .cloudsBg{
  background-image: url('./assets/backgrounds/clouds.jpg');
}
.rainBg{
  background-image: url('./assets/backgrounds/thunder.jpg');
}
.thunderBg{
  background-image: url('./assets/backgrounds/thunder.jpg');
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
